*.dwg    binary
*.g      binary
*.gif    binary
*.iam    binary
*.ipj    binary
*.ipt    binary
*.jpg    binary
*.PDF    binary
*.pdf    binary
*.STEP   binary
*.step   binary
*.stp    binary
*.x3g    binary
*.xls    binary
*.zip    binary
*.toc	 binary
*.pyz	 binary
*.so	 binary

